<!-- accept a form and a level to this partial -->
<!-- if the ID is nil, disable everything and apply a certain class -->
<tr class="level-row">
  <td>
    <input class="position" type="numeric" step="1" min="0" value="<%= level.position %>" />
  </td>
  <td>
    <input class="name" type="text" value="<%= Level.get_name(level) %>" />
  </td>
  <td>
    <!-- TODO: the default values don't seem to be working... maybe set them by JS? -->
    <%= select_tag "", options_for_select((1..12).map(&:itself), level.min_grade), class: "min-grade" %>
  </td>
  <td>
    <%= select_tag "", options_for_select((1..12).map(&:itself), level.max_grade), class: "max-grade" %>
  </td>
  <td>
    <input class="restricted" type="checkbox" <%= "checked" if level.restricted %> />
  </td>
  <td>
    <input class="active" type="checkbox" <%= "checked" if level.active %> />
  </td>
  <td>
    <input class="delete" type="submit" value="Delete" onClick='alert("A level cannot be deleted if there are still courses or students using it. This choice will not take effect until you save your changes.")' />
    <input class="id" type="hidden" value="<%= level.id %>" />
  </td>
</tr>
