<!-- accept a form and a level to this partial -->
<!-- if the ID is nil, disable everything and apply a certain class -->
<tr class="level-row">
  <td>
    <input class="position" type="numeric" step="1" min="0" value="<%= level.position %>" />
  </td>
  <td>
    <input class="name" type="text" value="<%= level.name %>" />
  </td>
  <td>
    <%= select_tag "", options_for_select([""] + (1..12).map(&:itself)), class: "min-grade", value: level.min_grade %>
  </td>
  <td>
    <%= select_tag "", options_for_select([""] + (1..12).map(&:itself)), class: "max-grade", value: level.max_grade %>
  </td>
  <td>
    <input class="restricted" type="checkbox" <%= "checked" if level.restricted %> />
  </td>
  <td>
    <input class="active" type="checkbox" value="<%= level.active %>" />
  </td>
  <td>
    <input class="delete" type="submit" value="Delete" />
    <input class="id" type="hidden" value="<%= level.id %>" />
  </td>
</tr>
