<div class="field">
  <%= f.label :priority %>
  <%= f.check_box :priority, {} %>
</div>

<div class="field">
  <%= f.label :waiver_submitted %>
  <%= f.check_box :waiver_submitted, disabled: true %>
</div>

<div class="field">
  <%= f.label :waiver_received %>
  <%= f.check_box :waiver_confirmed, {} %>
</div>