<p id="notice"><%= notice %></p>

<h1>Students</h1>

<%= will_paginate @users %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Grade</th>
      <th>Level</th>
      <th>Waiver</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="alternating">
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.id %></td>
        <td><%= student.school_grade %></td>
        <td><%= student.level %></td>
        <td><%= student.waiver ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', teacher_student_path(student) %></td>
        <td><%= link_to 'Edit', edit_teacher_student_path(student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>

<br>
