<% if @students.empty? %>
  No students matched your search. Please check your query and try again.
<% else %>
  <table>
    <thead>
      <tr><%= @students.count %> results:</tr>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Grade</th>
        <th>Level</th>
        <th>Waiver</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody class="alternating">
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.id %></td>
          <td><%= student.school_grade %></td>
          <td><%= student.level %></td>
          <td><%= student.waiver_confirmed? ? "Yes" : "No" %></td>

          <td>
            <% if student.level == 'unspecified' %>
              Before you can register, you'll need to
              <%= link_to "enter your grade and Math-Circle level", edit_teacher_student_path(student) %>.
            <% elsif student.ballot %>
              <%= link_to 'Edit registration', edit_teacher_student_ballot_path(student) %>
            <% else %>
              <%= link_to 'Register', new_teacher_student_ballot_path(student) %>
            <% end %>
          </td>

          <td><%= link_to 'Show', teacher_student_path(student) %></td>
          <td><%= link_to 'Edit', edit_teacher_student_path(student) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>