<%= form_for(@event, url: url) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this @event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_group %>
    <%= text_field_tag :group, @event.event_group.name, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= label_tag :when %>
    <%= f.date_select :when %>
  </div>

  <div class="field">
    <%= label_tag :time %>
    <%= f.time_select :time %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
