<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date_str %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time_str %>
</p>

<%= link_to 'Edit', edit_teacher_event_path(@event) %> |
<%= link_to 'Back', teacher_section_path(@event.section) %>
