<p id="notice"><%= notice %></p>

<h1>Special Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @special_events.each do |special_event| %>
      <tr>
        <td><%= special_event.name %></td>
        <td><%= special_event.when %></td>
        <td>
          <% if special_event.special_registrees.find_by(parent: current_parent) %>
            <%= link_to 'Update RSVP', [:parent, special_event, :special_registree] %>
          <% else %>
            <%= link_to 'RSVP', [:parent, special_event, :special_registree] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
