<p id="notice"><%= notice %></p>

<h1><%= @parent.name %>'s students</h1>

<% if @students.any? %>
  <table>
    <thead>
      <tr><%= render partial: 'teacher/students/header' %></tr>
    </thead>

    <tbody>
      <% @students.sort_by(&:name).each do |student| %>
        <tr><%= render partial: 'teacher/students/row', locals: { student: student } %></tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Student', new_teacher_parent_student_path(@parent) %> |
<% else %>
  You haven't registered any students yet.
  <%= link_to 'Add one now.', new_teacher_parent_student_path(@parent) %> <br/>
<% end %>

<%= link_to 'Back', teacher_parent_profile_path(@parent) %>
