<h1><%= @parent.name %>'s students</h1>

<% if @students.any? %>
  <table>
    <thead>
      <%= render partial: "teacher/students/table/header" %>
    </thead>

    <tbody>
      <% @students.sort_by(&:name).each do |student| %>
        <%= render partial: "teacher/students/table/row", locals: { student: student } %>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Student', new_teacher_parent_student_path(@parent) %> |
<% else %>
  You haven't registered any students yet.
  <%= link_to 'Add one now.', new_teacher_parent_student_path(@parent) %> <br/>
<% end %>

<%= link_to 'Back', teacher_parent_profile_path(@parent) %>
