<%= form_for([:teacher, semester], html: { class: "semester-form" }) do |f| %>
  <% if semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semester.errors.count, "error") %> prohibited this semester from being saved:</h2>

      <ul>
        <% semester.errors.messages.values.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start %>
    <%= f.date_select :start %>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%= f.date_select :end %>
  </div>

  <div class="field">
    <%= f.label :set_as_current %>
    <%= f.check_box :current, class: "new-current-value" %>

    <% is_cur = (f.object == Semester.current) %>
    <%= hidden_field_tag :current, is_cur, disabled: true, class: "original-current-value" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
