<p id="notice"><%= notice %></p>

<h1>Teacher Semesters</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Name</th>
      <th colspan="1">Start date</th>
      <th colspan="1">End date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= link_to semester.name, teacher_semester_path(semester) %></td>
        <td><%= semester.start %></td>
        <td><%= semester.end %></td>
        <td><%= link_to 'Edit', edit_teacher_semester_path(semester) %></td>
        <td><%= link_to 'Destroy', teacher_semester_path(semester), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher Semester', new_teacher_semester_path %>
