<h1>Semesters</h1>

<% if Semester.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
        <th>Enrollment <b>*</b></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @semesters.each do |semester| %>
        <tr>
          <td><%= link_to semester.name, teacher_semester_path(semester) %></td>
          <td><%= I18n.l semester.start %></td>
          <td><%= I18n.l semester.end %></td>
          <td><%= SemesterStateHelper::STATE_NAMES[semester.state] %></td>
          <td><%= @enrollment[semester.id] %></td>
          <td><%= link_to 'Edit', edit_teacher_semester_path(semester) %></td>
          <td><%= link_to 'Destroy', teacher_semester_path(semester), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><b>*</b> Enrollment includes all students who either submitted a lottery ballot or who are currently registered in a class for the semester. Total enrollment for all classes may be lower, as it does include students who entered the lottery but who are no longer registered.</p>

  <br>

  <%= link_to 'New Semester', new_teacher_semester_path %>
<% else %>
  You have not created a semester yet.
  <%= link_to 'Create one now.', new_teacher_semester_path %>
<% end %>
