<h1>Lottery results for <%= @semester.name %></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag teacher_semester_act_path(@semester, 'run', @lottery), method: :post do %>
      <%= submit_tag 'Save these lottery results.' %>
    <% end %>
  </div>
</div>

<% @lottery.to_h.each do |course_id, course_hash| %>
  <% course = Course.find(course_id) %>
  <h3><%= course.name %></h3>
  <div class="panel panel-default">
    <div class="panel-heading"><%= course.description %></div>
    <div class="panel-body">
    <% course_hash[:rosters].each do |section_id, roster| %>
      <% section = EventGroup.find(section_id) %>

      <table>
        <thead>
          <tr>
            <th colspan="100000"><%= section.description %></th>
          </tr>
          <tr>
            <th>Student</th>
            <th>Grade</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody class="alternating">
          <% roster.each do |student_id| %>
            <% student = Student.find(student_id) %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.school_grade %></td>
              <td><%= student_id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br />
    <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Waitlist</div>

    <div class="panel-body">

      <table>
        <thead>
          <tr>
            <th>Student</th>
            <th>Grade</th>
            <th>Priority</th>
            <th>Preference list</th>
          </tr>
        </thead>
        <tbody class="alternating">
          <% if course_hash[:waitlist].any? %>
            <% course_hash[:waitlist].each do |student_id| %>
              <% student = Student.find(student_id) %>
              <tr>
                <td><%= "#{student.name} (#{student.id})" %></td>
                <td><%= student.school_grade %></td>
                <td><%= student.priority > 0 ? "Yes" : "No" %></td>
                <td><%= student.ballot(@lottery.semester).preferences.map do |section_id|
                          EventGroup.find(section_id).description
                        end.join(", ") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="20">There are no students on this waitlist.</td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
<% end %>

<br/>
