<h1>Lottery results for <%= @semester.name %></h1>

<% @lottery.contents.each do |course_id, course_hash| %>
  <% course = Course.find(course_id) %>
  <h3><%= course.name %></h3>
  <div class="panel panel-default">
    <div class="panel-heading"><%= course.description %></div>
    <div class="panel-body">
    <% course_hash[:rosters].each do |section_id, roster| %>
      <% section = EventGroup.find(section_id) %>

      <table>
        <thead>
          <tr>
            <th colspan="2"><%= section.description %></th>
          </tr>
          <tr>
            <th>Student</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <% roster.each do |student_id| %>
            <% student = Student.find(student_id) %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student_id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Waitlist</div>

    <div class="panel-body">

    <table>
      <thead>
        <tr>
          <td>Student</td>
          <td>Priority</td>
          <td>Preference list</td>
        </tr>
      </thead>
      <tbody>
        <% course_hash[:waitlist].each do |student_id| %>
          <% student = Student.find(student_id) %>
          <tr>
            <td><%= "#{student.name} (#{student.id})" %></td>
            <td><%= student.priority %></td>
            <td><%= student.ballot.preferences.map do |section_id|
                      EventGroup.find(section_id).description
                    end.join(", ") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag url: teacher_semester_lottery_path(@semester), method: :post do %>
      <%= hidden_field_tag :lottery_id, @lottery.id %>
      <%= submit_tag 'Save these lottery results' %>
    <% end %>

  </div>
</div>