<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Semester: <%= @semester.name %></h1>
<h4><%= I18n.l @semester.start %> to <%= I18n.l @semester.end %></h4>

<%= render partial: 'state', locals: { semester: @semester } %>

<p>
  <% if @semester.current %>
    This is the current semester.
  <% else %>
    This is not the current semester.
  <% end %>
</p>

</br>

<% if @semester.courses.any? %>
  <table>
    <thead>
      <tr>
        <th colspan="6">Courses</th>
      </tr>
      <tr>
        <th colspan="1">Name</th>
        <th colspan="1">Grade</th>
        <th colspan="1">Sections</th>
        <th colspan="1">Meetings</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody class="alternating`">
      <% @semester.courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, teacher_course_path(course) %></td>
          <td><%= course.grade %></td>
          <td><%= course.sections.count %></td>
          <td>
            <% if course.sections.any? %>
              <% counts = course.sections.map(&:events).map(&:count) %>
              <% max = counts.max; min = counts.min %>
              <% if max == min %>
                <%= max %>
              <% else %>
                <%= "#{min} to #{max}" %>
              <% end %>
            <% else %>
              None
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_teacher_course_path(course) %></td>
          <td><%= link_to 'Delete', teacher_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Course', new_teacher_course_path(semester_id: @semester.id) %>
<% else %>
  This semester does not currently have any courses scheduled.
  <%= link_to 'Add a new course.', new_teacher_course_path(semester_id: @semester.id) %>
<% end %>

<hr />

<% if @semester.special_events.any? %>
  <table>
    <thead>
      <tr>
        <th colspan="3">Special Events</th>
      </tr>
      <tr>
        <th colspan="1">Name</th>
        <th colspan="1">Date</th>
        <th colspan="1"></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @semester.special_events.each do |special_event| %>
        <tr>
          <td><%= link_to special_event.name, teacher_special_events_path(special_event) %></td>
          <td><%= special_event.date %></td>
          <td>
            <%= special_event.start %>
            <% if special_event.end %>
              to
              <%= special_event.end %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_teacher_special_event_path(special_event) %></td>
          <td><%= link_to 'Delete', teacher_special_event_path(special_event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Special Event', new_teacher_special_event_path(semester_id: @semester.id) %>
<% else %>
  This semester does not currently have any special events scheduled.
  <%= link_to 'Add a new special event.', new_teacher_special_event_path(semester_id: @semester.id) %>
<% end %>

</br></br>

<%= render partial: 'teacher/shared/email_list', locals: { title: "Roster", ids: @semester.roster } %>

<%= render partial: 'teacher/shared/email_list', locals: { title: "Waitlist", ids: @semester.waitlist } %>

<%= render partial: 'teacher/shared/email_list', locals: { title: "All", ids: @semester.all_students } %>

<%= render partial: 'teacher/shared/email_list', locals: { title: "Registeree", ids: @semester.registrees } %>

<hr />

<%= link_to 'Edit', edit_teacher_semester_path(@semester) %> |
<%= link_to 'Back', teacher_semesters_path %>
