<%= form_for([:teacher, section]) do |f| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %>
    <%= f.collection_select :course_id, Course.all, :id, :name, {}, {disabled: :disabled} %>
    <%= f.hidden_field :course_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% unless section.persisted? %>
    <div class="field">
      <%= f.label :weekday %>
      <%= f.select :wday, DayHelper::DAYS.map { |d| [ d.to_s.titleize, d ] } %>
    </div>

    <div class="field">
      <%= f.label :time %>
      <%= f.time_select :time, { ampm: true } %>
    </div>

    <p>
      Submitting this form will create a section that meets on every occurrence of your chosen weekday between the start and end of this semester. You will then be able to add, delete, or reschedule these meetings.
    </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
