<% parent_id ||= nil %>
<%= form_for([role, student]) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag(:parent_id, parent_id) if parent_id %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate, start_year: Time.now.year - 20 %>
  </div>

  <div class="field">
    <%= f.label "Math-Circle level" %>
    <%= f.level_select :level_id %>
    <small>Note: Changing a student's Math-Circle level will un-register them for the current semester.</small>
  </div>

  <div class="field">
    <%= f.label :school %>
    <%= f.text_field :school %>
  </div>

  <div class="field">
    <%= f.label :school_grade %>
    <%= f.select :school_grade, collection: (1..12).map{ |i| [i, i] } %>
    <small>Note: Changing a student's grade will un-register them for the current semester.</small>
  </div>

  <div class="field">
    <%= f.label :current_math_class %>
    <%= f.text_field :highest_math_class %>
  </div>

  <div class="field">
    <%= f.label "If the student requires any accommodations to participate in math circle, please describe them here:" %><br/>
    <%= f.text_area :accommodations, cols: 40, rows: 4 %>
  </div>

  <% form_extras ||= 'form_extras' %>
  <%= render partial: form_extras, locals: { f: f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
