<p id="notice"><%= notice %></p>

<% if @student.enrolled? %>
  Currently enrolled in <%= @student.section.description %>.
<% elsif @student.waitlisted? %>
  Currently at waitlist position <%= @student.waitlist_position %> for <%=  %>. (Your student will only be ebrolled when an opening occurs in a section listed on your student's registration ballot.)
<% elsif @student.registered? %>
  Currently registered. Course assignments have not yet been made.
<% else %>
  Not currently registered. To register this student, return to your students page and click "register".
<% end %>

<% if @student.priority.is_a?(Integer) && @student.priority > 0 %>
  <br/><br/>
  This student has priority status for registration.
<% end %>

<br/> <br/>

<table>
  <thead>
    <tr>
      <th>Name:</th>
      <th><%= @student.name %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Email:</td>
      <td><%= @student.email %></td>
    </tr>
    <tr>
      <td>Birthdate:</td>
      <td><%= @student.birthdate %></td>
    </tr>
    <tr>
      <td>Level:</td>
      <td><%= @student.level %></td>
    </tr>
    <tr>
      <td>School:</td>
      <td><%= @student.school %></td>
    </tr>
    <tr>
      <td>Grade:</td>
      <td><%= @student.school_grade %></td>
    </tr>
    <tr>
      <td>Current math class:</td>
      <td><%= @student.highest_math_class %></td>
    </tr>
    <tr>
      <td>Waiver submitted:</td>
      <td><%= (@student.waiver_submitted? ? "Yes" : "No" ) %></td>
    </tr>
    <tr>
      <td>Waiver confirmed:</td>
      <td><%= (@student.waiver_confirmed? ? "Yes" : "No" ) %></td>
    </tr>
    <tr>
      <td>Accommodations:</td>
      <td><%= @student.accommodations %></td>
    </tr>
  </tbody>
</table>

<br/> <br/>

<% if @student.enrolled? %>
  Total attendance this semester: <%= @student.attendance_count %> out of <%= @student.section.rollcalls.count %>
<% end %>