<%= form_for([:parent, student]) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :math_circle_level %>
    <% if f.object.grade == "D" %>
      <%= f.select :grade, collection: Student.grades.keys.to_a %>
    <% else %>
      <%= f.select :grade, collection: Student::DISPLAY_GRADES %>
    <% end %>

    <small>Note: Level D is only available with special permision from a Math Circle instructor. If you'd like to register your student for Level D, please select another level, and then contact Math Circle.</small>
  </div>

  <div class="field">
    <%= f.label :school %>
    <%= f.text_field :school %>
  </div>

  <div class="field">
    <%= f.label :school_grade %>
    <%= f.select :school_grade, collection: (1..12).map{ |i| [i, i] } %>
  </div>

  <div class="field">
    <%= f.label :highest_math_class %>
    <%= f.text_field :highest_math_class %>
  </div>

  <div class="field">
    <%= f.label :accommodations %>
    <%= f.text_field :accommodations %>
  </div>

  <!-- waiver checkbox -->
  <!-- thumbnail upload -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
