<h1>Students</h1>

<% if @students.any? %>
  <table>
    <thead>
      <%= render partial: "shared/students/table/header", locals: { role: :parent } %>
    </thead>

    <tbody>
      <% @students.sort_by(&:name).each do |student| %>
        <%= render partial: "shared/students/table/row", locals: { student: student, role: :parent } %>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Student', new_parent_student_path %>
<% else %>
  You haven't registered any students yet.
  <%= link_to 'Add one now.', new_parent_student_path %>
<% end %>

<%= render partial: 'shared/section_name_warning' %>
