<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">name</th>
      <th colspan="1">semester</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr data-student-id=<%= student.id %>>
        <td><%= student.name %></td>
        <td><%= select_tag "semester_student_#{student.id}", options_for_select(@semesters.all.map{ |s| [s.name, s.id] }), class: 'semester-select' %></td>
        <td><%= link_to 'register', new_parent_student_ballot_path(student_id: student.id, semester_id: @semesters.first.id), class: 'register-link' %></td>
        <td><%= link_to 'Show', parent_student_path(student) %></td>
        <td><%= link_to 'Edit', edit_parent_student_path(student) %></td>
        <td><%= link_to 'Destroy', parent_student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_parent_student_path %>

<script language="javascript">
  window.student_semester_select_path = "<%= new_parent_student_ballot_path(student_id: '__student_id', semester_id: '__semester_id') %>";
</script>
