<p id="notice"><%= notice %></p>

<h1>Students</h1>

<% if @students.any? %>
  <table>
    <thead>
      <tr>
        <th colspan="1">Name</th>
        <th colspan="1">Level</th>
        <th colspan="1">Grade</th>
        <th colspan="1">Registration Priority</th>
        <th colspan="1">Waiver confirmed</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.sort_by(&:name).each do |student| %>
        <tr data-student-id=<%= student.id %>>
          <td><%= student.name %></td>
          <td><%= student.level %></td>
          <td><%= student.school_grade %></td>
          <td><%= (student.priority == 0) ? "No" : "Yes" %></td>
          <td><%= student.waiver_confirmed? ? "Yes" : "No" %></td>
          <td>
            <% if Semester.current.lottery_open? %>
              <% if student.level == 'unspecified' %>
                Before you can register, you'll need to
                <%= link_to "enter your grade and Math-Circle level", edit_parent_student_path(student) %>.
              <% elsif student.ballot %>
                <%= link_to 'Edit registration', edit_parent_student_ballot_path(student) %>
              <% else %>
                <% if student.school_grade <= 5 || (student.level && student.D?) %>
                  (Contact Math-Circle to register elementary school students and level D students.)
                <% else %>
                  <%= link_to 'Register', new_parent_student_ballot_path(student) %>
                <% end %>
              <% end %>
            <% else %>
              Lottery registration has been closed. Normal registration will resume after class assignments are made.
            <% end %>
          </td>
          <td><%= link_to 'Show', parent_student_path(student) %></td>
          <td><%= link_to 'Edit', edit_parent_student_path(student) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Student', new_parent_student_path %>
<% else %>
  You haven't registered any students yet.
  <%= link_to 'Add one now.', new_parent_student_path %>
<% end %>
