<%= form_for(@event_group, url: teacher_event_groups_path, method: :post) do |f| %>
  <% if event_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_group.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :course %>
    <!-- TODO: scope the courses listed here, maybe by scoping the route, or through AJAX? -->
    <%= f.collection_select :course_id, Course.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :weekday %>
    <%= f.select :wday, :collection => EventGroup.wdays.keys.to_a %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
