<% collapse_id = rand(1000000000) %>
<%= f.fields_for(method) do |ci| %>
  <a data-toggle="collapse" href="#collapse1">
    <h2><%= ci.label method %></h2>
  </a>

  <div id="collapse1" class="panel-collapse collapse">
    <% unless local_assigns[:no_name] %>
      <div class="field">
        <%= ci.label :first_name %>
        <%= ci.text_field :first_name %>
      </div>

      <div class="field">
        <%= ci.label :last_name %>
        <%= ci.text_field :last_name %>
      </div>
    <% end %>

    <div class="field">
      <%= ci.label :email %>
      <%= ci.email_field :email %>
    </div>

    <div class="field">
      <%= ci.label :phone %>
      <%= ci.telephone_field :phone, onkeyup: "this.value = this.value.replace(/[^0-9\-\(\)\+]/, '')" %>
    </div>

    <div>
      <h3>Address</h3>

      <div class="field">
        <%= ci.label :street %> <br/>
        <%= ci.text_field :street1 %>
      </div>

      <div class="field">
        <%= ci.text_field :street2 %>
      </div>

      <div class="field">
        <%= ci.label :city %>
        <%= ci.text_field :city %>
      </div>

      <div class="field">
        <%= ci.label :state %>
        <%= ci.select :state, options_for_select(StatesHelper::US_STATES) %>
      </div>

      <div class="field">
        <%= ci.label :zip_code %>
        <%= ci.text_field :zip, onkeyup: "this.value = this.value.replace(/[^0-9\-]/, '')" %>
      </div>
    </div>
  </div>
<% end %>
