<table>
  <thead>
    <tr class="heavy-bordered-row">
      <th>Name</th>
      <th>Level</th>
      <th>Semester</th>
      <th>Overview</th>
    </tr>
  </thead>

  <tbody>
    <% courses.each do |course| %>
      <% multi_collapse_id = "course#{course.id}" %>
      <tr class="heavy-bordered-row">
        <td><%= link_to course.name, '#', class: 'multi-collapse-control', data: {multi_collapse_id: multi_collapse_id} %></td>
        <td>Level <%= course.level %></td>
        <td><%= course.semester.name %></td>
        <td><%= course.overview.present? ? course.overview : "None" %></td>
      </tr>

      <% if course.sections.any? %>
        <% course.sections.each do |section| %>
          <tr class="collapse out multi-collapse-target" data-multi-collapse-id="<%= multi_collapse_id %>">
            <td colspan=2><%= "#{section.description}" %></td>
            <td><%=  %></td>
          </tr>
        <% end %>

        <tr class="collapse out multi-collapse-target bordered-row" data-multi-collapse-id="<%= multi_collapse_id %>">
          <td colspan="3">
            This course has <%= course.sections.count %> sections.
            <%= link_to 'Add new', new_teacher_section_path(course_id: course.id) %>
          </td>
        </tr>

      <% else %>
        <tr class="collapse out multi-collapse-target bordered-row" data-multi-collapse-id="<%= multi_collapse_id %>">
          <td colspan="3">
            This course does not currently have any scheduled sections.
            <%= link_to 'Schedule one.', new_teacher_section_path(course_id: course.id) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>

<br/><br/>
