<tr class="section-list-collapse-control section-row" data-section-id="<%= section.id %>">
  <td><%= link_to section.description, '#', class: 'section-list-collapse', data: {section_id: section.id} %></td>
  <td><%= section.course.name %></td>
  <td><%= section.course.semester.name %></td>
  <td><%= link_to 'Edit', edit_teacher_section_path(section) %></td>
  <td><%= link_to 'Delete', teacher_section_path(section), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

<% if section.events.any? %>
  <% section.events.each do |event| %>
    <tr class="collapse out section-collapse-row-<%= section.id %>">
      <td colspan=3><%= "#{event.description}" %></td>
      <td><%= link_to 'Edit', edit_teacher_event_path(event) %></td>
      <td><%= link_to 'Delete', teacher_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  <tr class="collapse out section-collapse-row-<%= section.id %> section-row">
    <td colspan="3">
      This section has <%= section.events.count %> meetings.
    </td>
    <td colspan="2">
      <%= link_to 'Add new', new_teacher_event_path(section_id: section.id) %>
    </td>
  </tr>

<% else %>
  <tr class="collapse out section-collapse-row-<%= section.id %> section-row">
    <td colspan="5">
      This section does not currently have any scheduled meedings.
      <%= link_to 'Schedule one.', new_teacher_event_path(section_id: section.id) %>
    </td>
  </tr>
<% end %>
