<%= form_for([:parent, profile], url: parent_profile_path) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>

  <%= render partial: "shared/contact_info_fields", locals: { f: f, method: :primary_contact } %>

  <%= render partial: "shared/contact_info_fields", locals: { f: f, method: :emergency_contact, copy: true } %>

  <%= render partial: "shared/contact_info_fields", locals: { f: f, method: :emergency_contact_2 } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
