<%= form_for([:parent, profile], url: parent_profile_path) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, onkeyup: "this.value = this.value.replace(/[^0-9\-\(\)\+]/, '')" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="address-fields">
    <h3>Address</h3>

    <div class="field">
      <%= f.label :street %> <br/>
      <%= f.text_field :street1 %>
    </div>

    <div class="field">
      <%= f.text_field :street2 %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :state %>
      <%= f.select :state, options_for_select(StatesHelper::US_STATES) %>
    </div>

    <div class="field">
      <%= f.label :zip_code %>
      <%= f.text_field :zip, onkeyup: "this.value = this.value.replace(/[^0-9\-]/, '')" %>
    </div>
  </div>
  
  <div class="emergency-fields emergency-1">
    <h3>Emergency Contact 1</h3>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :ec1_first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :ec1_last_name %>
    </div>

    <div class="field">
      <%= f.label :relation %>
      <%= f.text_field :ec1_relation %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :ec1_phone %>
    </div>
  </div>
  
  <div class="emergency-fields emergency-2">
    <h3>Emergency Contact 2</h3>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :ec2_first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :ec2_last_name %>
    </div>

    <div class="field">
      <%= f.label :relation %>
      <%= f.text_field :ec2_relation %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :ec2_phone %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
