<%= form_for(course, url: teacher_courses_path(course)) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :grade %>
    <%= f.select :grade, :collection => Course.grades.keys.to_a %>
  </div>

  <div class="field">
    <%= label_tag :semester %>
    <%= f.collection_select :semester_id, Semester.all, :id, :name %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
