<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Name</th>
      <th colspan="1">Semester</th>
      <th colspan="1">Level</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, teacher_course_path(course) %></td>
        <td><%= course.semester.name %></td>
        <td><%= course.level %></td>
        <td><%= link_to 'Edit', edit_teacher_course_path(course) %></td>
        <td><%= link_to 'Destroy', teacher_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_teacher_course_path %>
