<%= form_for([:parent, ballot.student, ballot]) do |f| %>
  <% if ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
      <% ballot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label ballot.student.name %>
    <%= f.hidden_field :student_id, value: ballot.student.id %>
  </div>

  <div class="field">
    <%= f.label :semester %>
    <%= f.collection_select :semester_id, [@semester], :id, :name, {}, {disabled: 'diabled'} %>
    <%= f.hidden_field :semester_id %>
  </div>

  <div class="field">
    <%= f.label :course %>
    <%= f.collection_select :course_id, @courses, :id, :name, {}, {class: 'ballot-course-selector'} %>
  </div>

  <div class="field">
    <%= link_to 'Open course catalog', parent_catalog_path, target: :_blank %>
  </div>

  <% ballot.courses.each do |course| %>
    <div class="field preferences-fields preferences-detach" data-course-id="<%= course.id %>">
      <%= render partial: "shared/preferences", locals: { f: f, target: ballot, sections: course.sections } %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
