<%= form_for([:parent, ballot.student, ballot]) do |f| %>
  <% if ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
      <% ballot.errors.messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label ballot.student.name %>
    <%= f.hidden_field :student_id, value: ballot.student.id %>
  </div>

  <div class="field">
    <%= f.label :semester %>
    <%= f.collection_select :semester_id, [Semester.current], :id, :name, {}, {disabled: 'diabled'} %>
    <%= f.hidden_field :semester_id %>
  </div>

  <div class="field">
    <%= f.label :course %>
    <%= f.collection_select :course_id, Semester.current_courses(ballot.student.level), :id, :name, {}, {class: 'ballot-course-selector'} %>
  </div>

  <div class="field">
    <%= link_to 'Open course catalog', parent_catalog_path, target: :_blank %>
  </div>

  <%= f.fields_for :preferences_hash do |pref_fields| %>
    <% ballot.courses.each do |course| %>

      <div class="field preferences-fields preferences-detach" data-course-id="<%= course.id %>">
        <%= pref_fields.label :preferences %>

        <table>
          <thead>
            <tr>
              <th colspan="1">Preference</th>
              <th colspan="1">Section</th>
            </tr>
          </thead>

          <tbody>
            <% @preferences = @ballot.preferences %>
            <% (1..course.sections.count).each do |pref| %>
              <tr>
                <td><%= pref %></td>
                <td>
                  <%= pref_fields.select pref, options_for_select(course.sections.map { |section| [section.description, section.id] }, ballot.preferences_hash[pref.to_s]), include_blank: true %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
