<%= form_for(ballot, url: parent_student_ballot_path(ballot, student_id: ballot.student.id, semester_id: ballot.semester.id)) do |f| %>
  <% if ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
      <% ballot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :student_id, value: ballot.student.id %>
  </div>

  <div class="field">
    <%= f.label :semester %>
    <%= f.collection_select :semester_id, Semester.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :course %>
    <%= f.collection_select :course_id, Course.all, :id, :name %>
  </div>

  <% if ballot.persisted? %>
    <div class="field">
      <%= f.label :preferences %>

      <table>
        <thead>
          <tr>
            <th colspan="1">preference</th>
            <th colspan="1">section</th>
          </tr>
        </thead>

        <tbody>
          <% @preferences = @ballot.ordered_preferences %>
          <% (1..@sections.count).each do |pref| %>
            <tr>
              <td><%= pref %></td>
              <td>
                <%= f.fields_for :ballot_preferences do |prefs| %>
                  <%= prefs.select :section, options_for_select(@options, @preferences[pref]) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
