<%= form_for([role, registree.student, registree]) do |f| %>
  <% if registree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registree.errors.count, "error") %> prohibited this registree from being saved:</h2>

      <ul>
      <% registree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :semester_id %>
  <%= f.hidden_field :student_id %>
  <%= f.hidden_field :course_id %>

  <div class="sections">
    <%= f.label :section %>
    <% registree.course.sections.each do |section| %>
      <div class="field">
        <%= f.label section.description %>
        <%= "(full)" if section.full? %>
        <%= f.radio_button :section_id, section.id,
              disabled: (role == :parent) && section.full? %>
      </div>
    <% end %>

    <% full_sections = registree.course.sections.select(&:full?) %>
    <% full_sections.delete(registree.section) if registree.section && registree.persisted? %>

    <% if full_sections.any? %>
      <div class="field">
        <%= f.label "Waitlist" %>
        <%= f.radio_button :section_id, "waitlist", class: "waitlist-radio-button", checked: registree.section.nil? %>
      </div>

      (Preferences are only used if you select "Waitlist" above.)
      <div class="preferences">
        <%= render partial: "shared/preferences", locals: { f: f, target: registree, sections: full_sections } %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Register' %>
  </div>
<% end %>
