<%= form_tag [:search, :teacher, model], method: :get do %>
  <div class="field">
    <%= label_tag :first_name %>
    <%= text_field_tag :'search[first_name]' %>
  </div>

  <div class="field">
    <%= label_tag :last_name %>
    <%= text_field_tag :'search[last_name]' %>
  </div>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :'search[email]' %>
  </div>

  <div class="field">
    <%= label_tag "ID" %>
    <%= number_field_tag :'search[id]' %>
  </div>

  <% if model == :students %>
    <div class="field">
      <%= label_tag "Only students with no waiver" %>
      <%= check_box_tag :no_waiver_only %>
    </div>

    <div class="field">
      <%= label_tag "Only students with accomodations" %>
      <%= check_box_tag :accomodations_only %>
    </div>

    <div class="field">
      <%= label_tag "Only students registered for the current semester" %>
      <%= check_box_tag :current_only, "1", false %>
    </div>
  <% end %>

  <div class="actions">
    <%= submit_tag 'Search' %>
  </div>
<% end %>
