<%= form_tag [:search, :teacher, model], method: :get do %>
  <div class="field">
    <%= label_tag :first_name %>
    <%= text_field_tag :'search[first_name]' %>
  </div>

  <div class="field">
    <%= label_tag :last_name %>
    <%= text_field_tag :'search[last_name]' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Search' %>
  </div>
<% end %>
