<% local_assigns[:status] ||= AttendanceHelper::IDS[:present] %>

<tr class="attendance-row">
  <td>
    <%= label_tag student.name %>
    <%= hidden_field_tag "", student.id, class: "student-id no-submit" %>
  </td>
  <td><%= student.id %></td>
  <td><%= (student.waiver_confirmed? ? "Yes" : "No") %></td>
  <td colspan="2">
    <% # default to absent %>
    <% selected = (rollcall.attendance_hash[student.id] || AttendanceHelper::IDS[:absent]) %>
    <%= select_tag "", options_from_collection_for_select(AttendanceHelper.expected, :id, :name, selected), { class: "status-select no-submit" } %>
  </td>
</tr>
