<% if rollcall.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(rollcall.errors.count, "error") %> prohibited this rollcall from being saved:</h2>

    <ul>
    <% rollcall.errors.messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table class="rollcall-table">
  <thead>
    <tr>
      <td>Student</td>
      <td>Waiver?</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody class="enrollees alternating">
    <% rollcall.enrollees.each do |student| %>
      <%= render partial: 'enrolled_row', locals: { rollcall: rollcall, student: student, status: rollcall.attendance_hash[student.id] } %>
    <% end %>

    <% #if rollcall.extras.any? %>
      <% #rollcall.extras.each do |student_id| %>
        <% #render partial: 'extra_row', locals: { student: student } %>
      <% #end %>
    <% #else %>
      <% #render partial: 'extra_row',   locals: { student: nil } %>
    <% #end %>
  </tbody>
</table>

<div class='attendance-form'>
  <%= form_for [:teacher, rollcall] do |f| %>
    <%= f.hidden_field :attendance, class: "attendance-input" %>
    <%= f.hidden_field :event_id, value: rollcall.event_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
