<% if rollcall.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(rollcall.errors.count, "error") %> prohibited this rollcall from being saved:</h2>

    <ul>
    <% rollcall.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table class="rollcall-table">
  <thead>
    <tr>
      <th>Student</th>
      <th>ID #</th>
      <th>Waiver Confirmed</th>
      <th colspan="2">Status</th>
    </tr>
    <tr><th colspan="5">Roster</th></tr>
  </thead>
  <tbody class="enrollees alternating">
    <% rollcall.enrollees.each do |student| %>
      <%= render partial: 'enrolled_row', locals: { rollcall: rollcall, student: student, status: rollcall.attendance_hash[student.id] } %>
    <% end %>
  </tbody>

  <thead>
    <tr><th colspan="5">Unexpected students</th></tr>
  </thead>
  <tbody class="extras alternating">
    <!-- Loop over keys in the attendance_hash who are not on the roster -->
    <% roster_ids = rollcall.event.section.roster.map(&:id) %>
    <% (rollcall.attendance_hash.keys - roster_ids).each do |student_id| %>
      <%= render partial: 'unexpected_row', locals: { student_id: student_id } %>
    <% end %>
    <% rollcall.unregistered_students.each do |student_name| %>
      <%= render partial: 'unregistered_row', locals: { student_name: student_name } %>
    <% end %>
  </tbody>

  <tbody>
    <tr>
      <td colspan="2">
        <%= button_tag "New unexpected student" %>
      </td>
      <td></td>
      <td colspan="2">
        <%= button_tag "New unregistered student" %>
      </td>
    </tr>
  </tbody>

  <tbody class="extras models">
    <%= render partial: 'unexpected_row' %>
    <%= render partial: 'unregistered_row' %>
  </tbody>
</table>

<div class='attendance-form'>
  <%= form_for [:teacher, rollcall] do |f| %>
    <%= f.hidden_field :attendance, class: "attendance-input" %>
    <%= f.hidden_field :event_id, value: rollcall.event_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
