<!DOCTYPE html>
<html>
  <head>
    <title>MathCircle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %> <br /> <br />

      <%= render partial: 'sign_out' %> <br />

      <%= link_to('Home', root_path) unless current_page?(root_path) %>
    </div>
  </body>
</html>
